.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

/* .Help {
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 0) 21.44%,
    #e3a357 55.6%,
    #99311a 102%
  );
} */

.Help .container {
  margin: 20px;
  padding: 10px;
  justify-content: center;
  text-align: center;
}

.Help .logo {
  position: absolute;
  width: 180px;
  height: 108.22px;
  left: 115px;
  top: 111.5px;

  /* background: url(.png); */
}

.Help .help-title {
  position: absolute;
  width: 307px;
  height: 58px;
  left: 56px;
  top: 241px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #3f3f3f;
}

.Help .helpful-tip-item {
  position: absolute;
  width: 312.06px;
  height: 49px;
  left: 68.94px;
  top: 360px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #3f3f3f;
}
.meal-btn {
  color: #ffff;
  position: relative;
  width: 377px;
  height: 36px;
  margin-bottom: 20px;
  justify-content: center;
  background: #6e1916;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.greeting {
  font-size: 18px;
  line-height: 2;
  margin: 20px 0 0 0;
}
.MuiDrawer-paperAnchorLeft {
  background-color: #6a784d;
}
