hr {
  max-width: 230px;
  margin: 0 auto;
  color: #726659;
}

.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.Help .help {
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 0) 21.44%,
    #e3a357 55.6%,
    #99311a 102%
  );
}

.help {
  max-width: 600px;
  margin: 0 auto;
}

.Help .container {
  max-width: 400px;
  margin: 20px;
  padding: 10px;
  justify-content: center;
  text-align: center;
}

.Help .help-title {
  position: absolute;
  width: 307px;
  height: 58px;
  left: 56px;
  top: 241px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  margin: 10px 20px;
  align-items: center;
  text-align: center;
  color: #3f3f3f;
}

.helpful-tip-item {
  position: absolute;
  width: 312.06px;
  height: 49px;
  left: 68.94px;
  top: 360px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #3f3f3f;
  margin: 10px 20px;
}
.meal-btn {
  color: #ffff;
  position: relative;
  width: 377px;
  height: 36px;
  margin-bottom: 20px;
  justify-content: center;
  background: #6e1916;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.bear {
  font-size: 3rem;
}

.shopping-list-container {
  margin: 5px 25px;
}

.MuiDrawer-paperAnchorLeft {
  background-color: #6a784d;
}

.nav-link {
  color: #ffffff;
  cursor: pointer;
  transition: all 250ms ease;
}
.nav-link:hover {
  color: #e3a357;
}

.nav-icon,
.helpScreen-icon {
  margin: 0 10px 0 0;
}

.help-link {
  color: #6e1916;
}

.help-link:hover {
  color: #410e0c;
  text-decoration: underline;
}

.help-item {
  display: flex;
  align-items: flex-start;
  margin: 15px 20px;
}

.help-item p {
  text-align: left;
}
